/* CSS Document */
/* 全局样式 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: rgba(115,111,111,0.5);
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

form {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

label {
	margin-right: 10px;
}

input[type="text"],
input[type="date"],
select {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button[type="submit"],
button {
	padding: 10px;
	font-size: 16px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #555;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ccc;
}

th {
	background-color: #f0f0f0;
}

#chart {
	height: 400px;
	background-image: url("../img/img8.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

